@model AuthAuz.Models.Customer
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr>
    <div class="row">
        <div class="input-field col s2">
            <label for="CustomerName">CustomerName</label>
        </div>
        <div class="input-field col s10">
            <input id="CustomerName" name="CustomerName" type="text" value="@Model.CustomerName">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
            <label for="Mobile">Mobile</label>
        </div>
        <div class="input-field col s10">
            <input class="form-control text-box single-line" id="Mobile" name="Mobile" type="text" value="@Model.Mobile">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
            <label for="Address">Address</label>
        </div>
        <div class="input-field col s10">
            <input id="Address" name="Address" type="text" value="@Model.Address">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
            <label for="SaleDate">SaleDate</label>
        </div>
        <div class="input-field col s10">
            <input id="SaleDate" name="SaleDate" type="text" class="datepicker" value="@Model.SaleDate">
        </div>
    </div>
    <div id="ProData" class="Table">
        <div id="RowData" class="Row">
            <input type="text" name="ProductName" class="repeat" placeholder="ProductName" />
            <input type="text" name="Quantity" class="repeat" placeholder="Quantity" />
            <input type="text" name="Price" class="repeat" placeholder="Price" />
            <a id="addRow" href="#" class="btn"><i>+</i></a>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s2">
            <input type="submit" value="Create" class="btn">
        </div>
    </div>

}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $('#addRow').on('click', function () {
        $('#ProData').append('<div id="RowData" class="Row"><input type="text" name="ProductName" class="repeat" placeholder="ProductName" /><input type="text" name="Quantity" class="repeat" placeholder="Quantity" /><input type="text" name="Price" class="repeat" placeholder="Price" /><a id="deleteRow" href="#" ><i>-</i></a></div>');
        $('#ProData').addClass();
        return false; 
    });
    $('#ProData').on('click', '#deleteRow', function () {
        $(this).parent().remove();
        return false; 
    });
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>


